$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-button-submit: #d1a11c;
$color__background-button-submit-hover: lighten(#d1a11c, 10%);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: #dcdcda;

$color__masthead: #004175;

$color__h1: #aa3d50;
$color__h2: #aa3d50;
$color__h3: #0078b9;
$color__h4: #1b4b77;
$color__h5: #1b4b77;

$color__h2-caption: #fcfafa;
$color__h2-caption-alt: #004175;

$color__text-screen: #231f20;
$color__text-input: #77787b;
$color__text-input-focus: #111;
$color__link: #00588a;
$color__link-visited: #00588a;
$color__link-hover: darken(#00588a, 25%);
$color__text-main: #404040;

$color__community-text: #004175;

$color__top-menu-link: #fff;
$color__top-menu-link-hover: #d1a11c;

$color__side-menu-link: #004175;
$color__side-menu-link-hover: #d1a11c;

$color__footer-menu-link: #444343;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__border-search-form: #336791;
